form {
    font-family: 'Poppins', sans-serif; /* Izvēlieties fontu formai */
    background-color: #fff; /* Iestatiet baltu fonu */
    border: 1px solid #ccc; /* Iestatiet plānu pelēku apmales */
    border-radius: 5px; /* Noapaļot formas stūrus */
    box-shadow: 0 0 10px #ccc; /* Pievienot ēnas efektu */
    max-width: 500px; /* Iestatiet maksimālo formu platumu */
    margin: 0 auto; /* Automātiska centēšana horizontāli */
    padding: 20px; /* Pievienot atkāpi ap formu */
    text-align: center; /* Centrēt formā esošo saturu */
 }

 form p {
    font-size: 20px; /* Uzstāda fonta lielumu <p> tagiem */
    margin-bottom: 20px; /* Pievieno apakšējo atkāpi visiem <p> tagiem */
 }

 form button,
 form a {
    background-color: #A66A2C; /* Uzstāda fona krāsu pogām un saitēm */
    border: none; /* Noņem robežas no pogām */
    border-radius: 5px; /* Izveido apļveida stūrus pogām */
    color: #fff; /* Uzstāda baltu teksta krāsu pogās un saitēs */
    cursor: pointer; /* Uzstāda kursora ikonu, kad tiek virzīts uz pogu */
    display: inline-block; /* Uzstāda pogas un saites kā bloka elementus */
    font-size: 20px; /* Uzstāda fonta lielumu pogām un saitēm */
    padding: 10px 20px; /* Pievieno iekšējo atkāpi pogām */
    text-align: center; /* Uzstāda teksta centrēšanu pogās un saitēs */
    text-decoration: none; /* Noņem pazīmes noformatēšanu pogām un saitēm */
    transition: background-color 0.3s ease; /* Veido pārejas efektu fona krāsai */
    margin: 10px; /* Uzstāda ārējo atkāpi pogām */
 }

form button:hover,
form a:hover {
    background-color: #D5AA72;
}

a {
    color: #A66A2C; 
    display: inline-block; 
    font-size: 20px; 
    margin-left: 10px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #D5AA72;
}

.no-data {
font-size: 18px;
  font-weight: bold;
  color: #be853b;
  border: 1px solid #422705;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  }
  
  .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin-bottom: 10px;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 10px;
}

  