* {
   /* Kopējie stila noteikumi */
   font-family: 'Poppins', sans-serif;
   /* Visiem elementiem tiek piemērots fonts Poppins un sans-serif */
   margin: 0;
   /* Noņemam ārējo atstarpes */
   padding: 0;
   /* Noņemam iekšējo atstarpes */
   box-sizing: border-box;
   /* Iekļaujam border un padding iekš elementa platuma */
   outline: none;
   /* Noņemam ārējo kontūru */
   border: none;
   /* Noņemam ārējo robežu */
   text-decoration: none;
   /* Noņemam teksta dekorācijas */
}

.container {
   min-height: 100vh;
   /* Minimālais augstums ir 100% no viewport augstuma */
   display: flex;
   /* Elementi tiek izvietoti kā flex bērni */
   align-items: center;
   /* "Bērni" tiek izvietoti centrā vertikāli */
   justify-content: center;
   /* "Bērni" tiek izvietoti centrā horizontāli */
   padding: 20px;
   /* Iekšējais atstarpes no kreisās un labās puses - 20 pikseļi */
   padding-bottom: 60px;
   /* Iekšējais atstarpes no apakšas - 60 pikseļi */
}

.container .content {
   text-align: center;
}

/*.container .content h3 stila noteikumi */
.container .content h3 {
   font-size: 30px;
   /* Fonta izmērs - 30 pikseļi */
   color: black;
   /* Teksta krāsa - melnā */
}

/*.container .content h1 stila noteikumi */
.container .content h1 {
   font-size: 50px;
   /* Fonta izmērs - 50 pikseļi */
   color: black;
   /* Teksta krāsa - melnā */
}

/* .container .content h1 span stila noteikumi*/
.container .content h1 span {
   background: rgb(102, 243, 2);
   /* Fona krāsa - zaļa */
   color: #fff;
   /* Teksta krāsa - baltā */
   border-radius: 5px;
   /* Iestata formas malu apaļumu. */
   padding: 0 15px;
   /* Iekšējais atstarpes no kreisās un labās puses - 0 no augšas un apakšas, 15 pikseļi no kreisās un labās puses */
}

.container .content p {
   /* Stili teksta elementam p iekš .content konteinerī */
   font-size: 25px;
   /* Iestata teksta lielumu uz 25 pikseļiem */
   margin-bottom: 20px;
   /* Pievieno apakšpusējo atstarpi 20 pikseļu lielumā */
}

.form-container {
   /* Stili formu konteinerim */
   min-height: 100vh;
   /* Iestata minimālo augstumu uz 100% no redzamās lapas augstuma. */
   display: flex;
   /* Iestata elastīgu elementu izvietojumu konteineram. */
   align-items: center;
   /* Izlīdzina saturu vertikāli centrā. */
   justify-content: center;
   /* Izlīdzina saturu horizontāli centrā. */
   padding: 20px;
   /* Iestata ārējo atstarpi konteineram. */
   padding-bottom: 60px;
   /* Iestata apakšējo iekšējo atstarpi konteineram. */
   background: #eee;
   /* Iestata fona krāsu konteineram. */
}

/* Stili formai iekš formu konteinera */
.form-container form {
   padding: 20px;
   /* Iestata iekšējo atstarpi formai. */
   border-radius: 5px;
   /* Iestata formas malu apaļumu. */
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   /* Pievieno formai ēnu. */
   background: #fff;
   /* Iestata fona krāsu formai. */
   text-align: center;
   /* Izlīdzina saturu horizontāli centrā formā. */
   width: 500px;
   /* Iestata formas platību. */
}

/* Stili formu virsrakstam iekš formu konteinera */
.form-container form h3 {
   font-size: 30px;
   /* Iestata teksta lielumu virsrakstam. */
   text-transform: uppercase;
   /* Pārveido visus burtus virsrakstā uz lielajiem burtiem. */
   margin-bottom: 10px;
   /* Iestata apakšējo iekšējo atstarpi virsrakstam. */
   color: black;
   /* Iestata teksta krāsu virsrakstam. */
}

/* Kopējie stili visiem formu elementiem */
.form-container form input,
.form-container form select {
   width: 100%;
   /* Iestata platību uz 100%. */
   padding: 10px 15px;
   /* Iestata iekšējo atstarpi augšā un apakšā - 10 pikseļi, pa kreisi un pa labi - 15 pikseļi. */
   font-size: 17px;
   /* Iestata teksta lielumu uz 17 pikseļiem. */
   margin: 8px 0;
   /* Iestata ārējo atstarpi augšā un apakšā - 8 pikseļi, pa kreisi un pa labi - 0. */
   background: #eee;
   /* Iestata fona krāsu uz gaiši pelēku. */
   border-radius: 5px;
   /* Iestata malu apaļumu uz 5 pikseļiem. */
   display: inline-block;
   /* Elementi tiek izvietoti viens aiz otra līnijā. */
}

/* Stili ievades laukiem ar tekstu */
.form-container form textarea {
   width: 100%;
   /* Iestata platību uz 100%. */
   padding: 10px 15px;
   /* Iestata iekšējo atstarpi augšā un apakšā - 10 pikseļi, pa kreisi un pa labi - 15 pikseļi. */
   font-size: 17px;
   /* Iestata teksta lielumu uz 17 pikseļiem. */
   margin: 8px 0;
   /* Iestata ārējo atstarpi augšā un apakšā - 8 pikseļi, pa kreisi un pa labi - 0. */
   background: #eee;
   /* Iestata fona krāsu uz gaiši pelēku. */
   border-radius: 5px;
   /* Iestata malu apaļumu uz 5 pikseļiem. */
   display: inline-block;
   /* Elementi tiek izvietoti viens aiz otra līnijā. */
}

/* Stili izvēles iespējām izkrītošajā sarakstā */
.form-container form select option {
   background: #fff;
   /* Iestata fona krāsu uz baltu. */
}

/* Stili nosūtīšanas formas pogai */
.form-container form .form-btn {
   background: #A66A2C;
   /* Iestata fona krāsu uz brūnu. */
   color: #fff;
   /* Iestata teksta krāsu uz balto. */
   text-transform: capitalize;
   /* Pārveido pirmo burtu par lielo burtu. */
   font-size: 20px;
   /* Iestata teksta lielumu uz 20 pikseļiem. */
   cursor: pointer;
   /* Iestata peles kursora izskatu par rādītāju, kad tiek virzīts uz pogu. */
}

/* Stili nosūtīšanas formas pogai, kad tiek virzīts peles kursors */
.form-container form .form-btn:hover {
   background: #D5AA72;
   /* Iestata fona krāsu uz gaiši brūnu, kad tiek virzīts peles kursors. */
   color: #fff;
   /* Iestata teksta krāsu uz balto, kad tiek virzīts peles kursors. */
}

/*Stili teksta zem formas*/
.form-container form p {
   margin-top: 10px;
   /* Iestata ārējo atstarpi augšā - 10 pikseļi. */
   font-size: 20px;
   /* Iestata teksta lielumu. */
   color: black;
   /* Iestata teksta krāsu uz melnu. */
}

/*Stili saitēm teksta elementā zem formas */
.form-container form p a {
   color: rgb(255, 0, 0);
   /* Iestata saites krāsu uz sarkanu. */
}

/* Stili kļūdas ziņojumam */
.form-container form .error-msg {
   margin: 10px 0;
   /*Iestata ārējos atstarpes augšā un apakšā - 10 pikseļi, pa kreisi un pa labi - 0. */
   display: block;
   /*Attēlo kļūdas ziņojumu kā bloka elementu.*/
   background: rgb(255, 0, 0);
   /* Iestata kļūdas ziņojuma fona krāsu - sarkanu.*/
   color: #fff;
   /*Iestata kļūdas ziņojuma teksta krāsu - baltu.*/
   border-radius: 5px;
   /* Iestata robežas radiusu kļūdas ziņojuma apmalēm - 5 pikseļi. */
   font-size: 20px;
   /*Iestata kļūdas ziņojuma teksta lielumu - 20 pikseļi.*/
   padding: 10px;
   /*Iestata iekšējos atstarpes ap kļūdas ziņojuma robežām - 10 pikseļi. */
}

@media screen and (max-width: 1280px) {
   .container {
      margin-top: 150px;
      margin-bottom: 150px;
      /* Palieliniet augšējo un apakšējo atstarpi pēc savas izvēles */
   }

   .form-container {
      margin-top: 130px;
      margin-bottom: 130px;
      /* Palieliniet augšējo un apakšējo atstarpi pēc savas izvēles */
   }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) and (min-height: 900px) and (max-height: 1080px) {
   .container {
      margin-top: 150px;
      margin-bottom: 150px;
      /* Palieliniet augšējo un apakšējo atstarpi pēc savas izvēles */
   }

   .form-container {
      margin-top: 130px;
      margin-bottom: 130px;
      /* Palieliniet augšējo un apakšējo atstarpi pēc savas izvēles */
   }
}

/* Media  768px */
@media screen and (max-width: 768px) {
   form {
      max-width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
   }
}

@media screen and (max-width: 700px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
   }
}

@media screen and (max-width: 1200px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 200px;
   }
}

@media screen and (max-width: 920px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 70px;
   }
}

@media screen and (max-width: 670px) {
   form {
      max-width: 100%;
      margin-bottom: 50px;
      margin-top: 100px;
   }
}

@media screen and (max-width: 850px) {
   form {
      max-width: 100%;
      margin-bottom: 50px;
      margin-top: 100px;
   }
}